:root {
  --time: 0s;
  --pauseHandler: paused;
}

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 251px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: white;
  fill: none;
  animation: countdown var(--time) linear infinite forwards var(--pauseHandler);
}
svg text {
  width: 50px;
  height: 50px;
  fill: white;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 251px;
  }
}

.custom-btn {
  background: #9500ff;
  color: white;
  border-color: #9500ff;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49%;
  z-index: -2;
  background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%) !important;
}

@media and (min-width: 1000px) and (max-width: 1199px) {
  /* For ipads*/
  .bg {
    height: 40%;
  }
}

@media (min-width: 1200px) {
  .bg {
    top: -40%;
    left: -1rem;
    width: 130%;
    height: 132%;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
    border-bottom-left-radius: 3rem;
    overflow: hidden;
  }
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: white;
}
