:root {
  --time: 0s;
  --pauseHandler: paused;
  --theme: #9500ff;
  --bgMax: #6e00ff;
  --bgMin: #bb00ff;
}

/* for timer */

svg {
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 251px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: white;
  fill: none;
  animation: countdown var(--time) linear infinite forwards var(--pauseHandler);
}
svg text {
  width: 50px;
  height: 50px;
  fill: white;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 251px;
  }
}

.custom-btn {
  background: var(--theme);
  color: white;
  border-color: var(--theme);
}

.custom-btn:hover {
  background: var(--theme);
  color: white;
  border-color: var(--theme);
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* App background */
#background {
  background: linear-gradient(50deg, var(--bgMax) 0, var(--bgMin) 100%);
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* for large laptops and desktops */
  #background {
    background: transparent;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* for large laptops and desktops */
  #backgroundLarge {
    position: absolute;
    top: -35%;
    left: -1rem;
    width: 130%;
    height: 135%;
    z-index: -1;
    -webkit-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
    border-bottom-left-radius: 3rem;
    overflow: hidden;
    background: linear-gradient(
      50deg,
      var(--bgMax) 0,
      var(--bgMin) 100%
    ) !important;
  }
}

/* navigation bar */

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: white;
}

.navbar-brand {
  font-family: Yellowtail, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 37px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 38.5px;
}

/* Modal settings */

.modal-header {
  border-bottom: 1px solid var(--theme);
}

.modal-footer {
  border-top: 1px solid var(--theme);
}

